.footer
  a.twitter-share-button href="https://twitter.com/share" data-text="#{@tweet_text ||= 'サイゼリヤ1000円ガチャ'}" data-lang="ja" data-count="horizontal" data-hashtags="サイゼリヤガチャ" data-size="large" Tweet